body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    display: flex;
    flex-wrap: wrap; /* so row is able to the next line */
    width: 755px; /* solved my grid not fitting to size with the container border */
    height: 700px;
    padding: 0; /* so grid fits tightly in container */
    border-radius: 40px;
    border: 100px solid rgb(216, 50, 50);
    justify-content: center;
    margin: 3rem auto;
}

.row {
    display: flex;
    justify-content: center;
}

.grid-square {
    width: 45px; /* set size to squares */
    height: 40px;
    border: 1px solid lightgray;
    transition: background-color 0.1s ease-in-out; /* so at mouse-over, smoother transition */
}

.grid-square:hover, /* classes for when mouse hovers and touches */
.grid-square.touch {
  background-color: darkslategray;
}




